# build stuff
build

*.user
*.sdf
*~
/Tinia.suo
/Tinia.opensdf
/msvc/jobobserver/Debug
/msvc/jobobserver/Release
/msvc/policy/Debug
/msvc/policy/Release
/msvc/qtobserver/Release
/msvc/qtobserver/Debug
/msvc/qtobserver/GeneratedFiles
/msvc/renderlist/Release
/msvc/renderlist/Debug

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Doxygen generated documentation
/doxygen

# Qt generated stuff
moc_*
*.depends
qrc_*.cxx

# CMake generated stuff
/CMakeFiles
CMakeCache.txt
*.filters
*.vcxproj
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
*.depend
*.stamp
*.rule

# CPack NSIS Installer generated stuff
/_CPack_Packages
install_manifest*.*


# Visual Studio stuff
[Dd]ebug*/
[Rr]elease/
build/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.ipch
*.suo
tinia.sln
*.exe
*.ilk
*.pdb
*.tlog
*.obj
*.manifest
*.lastbuildstate
*.log
*.lib
*.res
*.rc
*.cache


CMakeLists.txt.user.*
