*.user
*.sdf
*~
/Tinia.suo
/Tinia.opensdf
/msvc/jobobserver/Debug
/msvc/jobobserver/Release
/msvc/policy/Debug
/msvc/policy/Release
/msvc/qtobserver/Release
/msvc/qtobserver/Debug
/msvc/qtobserver/GeneratedFiles
/msvc/renderlist/Release
/msvc/renderlist/Debug

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
