*.user
*.sdf
*~
/Tinia.suo
/Tinia.opensdf
/msvc/jobobserver/Debug
/msvc/jobobserver/Release
/msvc/policy/Debug
/msvc/policy/Release
/msvc/qtobserver/Release
/msvc/qtobserver/Debug
/msvc/qtobserver/GeneratedFiles
/msvc/renderlist/Release
/msvc/renderlist/Debug

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Doxygen generated documentation
/doxygen

# Qt generated stuff
moc_*
*.depends
qrc_resources.cxx

# CMake generated stuff
/CMakeFiles
CMakeCache.txt
*.filters
*.vcxproj
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
*.depend
*.stamp
*.rule

# Visual Studio stuff
*.ipch
*.suo
tinia.sln
*.exe
*.ilk
*.pdb
*.tlog
*.obj
*.manifest
*.lastbuildstate
*.log
*.lib
*.res
*.rc

