table.mi {
    background-color:#ccddff;
    border: 1px solid #88aaff;
};

table.my {
    width:100%;
    border-collapse:collapse;
    background-color:#4488ff;
    border: 1px solid #88aaff;
}
tr.my {
    background-color:#ccddff;
}
/*
tr.my:nth-child(even) {
    background-color:#ccddff;
}
tr.my:nth-child(odd) {
    background-color:#aaccff;
}
*/
td.my {
    border: 1px solid #88aaff;
}
td.mo {
    background-color:#ffaaaa;
    border: 1px solid #ff6666;
}
th.my {
    border: 1px solid #88aaff;
    background-color:#88aaff;
    color:white;
    text-align:left;
}



/** For the demo table (borrowed from the cloudflow project) */

table.demotable {

    font-size: 18pt;
    border-collapse: collapse;
}
/** List app page */
.demotable td  {
    vertical-align: middle;
    margin: 0;
    padding: 10px;
    padding-left: 30px;
   /* border: 2px solid gray;*/
}


.demotable .wftype {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    display: block;
}

.demotable img {
    float: left;
}
.demotable tr:hover {
    cursor: default;
    color: white;
    background-color: #5184c4;
}
.demotable td.clickable:hover {
	cursor: pointer;
}

.demotable tr:hover:first-child {
     cursor: default;
     color: inherit;
    background-color: white;
}

